**/obj
**/bin
Task 1/Debugging/.vs/Debugging/v17/.suo
Task 1/Debugging/.vs/Debugging/DesignTimeBuild/.dtbcache.v2
Task 1/Debugging/.vs/Debugging/DesignTimeBuild/.dtbcache.v2
Task 1/Debugging/.vs/Debugging/FileContentIndex/50fe8512-01ce-4e17-98e5-b2362bf40002.vsidx
Task 1/Debugging/.vs/Debugging/FileContentIndex/912d39ba-93e1-4c71-9093-107a599a7f1f.vsidx
Task 1/Debugging/.vs/Debugging/FileContentIndex/da0586ef-0b8d-43fd-b52e-0c559d9be4bb.vsidx
Task 1/Debugging/.vs/Debugging/v17/.suo
Task 1/Debugging/.vs/Debugging/v17/DocumentLayout.backup.json
Task 1/Debugging/.vs/Debugging/v17/DocumentLayout.json
Task 1/Debugging/.vs/ProjectEvaluation/debugging.metadata.v9.bin
Task 1/Debugging/.vs/ProjectEvaluation/debugging.projects.v9.bin
Task 1/Debugging/.vs/ProjectEvaluation/debugging.strings.v9.bin
Task 1/Debugging/.vs/Debugging/DesignTimeBuild/.dtbcache.v2
Task 1/Debugging/.vs/Debugging/FileContentIndex/50fe8512-01ce-4e17-98e5-b2362bf40002.vsidx
Task 1/Debugging/.vs/Debugging/v17/.suo
Task 1/Debugging/.vs/Debugging/v17/DocumentLayout.backup.json
Task 1/Debugging/.vs/Debugging/v17/DocumentLayout.json
Task 1/Debugging/.vs/ProjectEvaluation/debugging.metadata.v9.bin
Task 1/Debugging/.vs/ProjectEvaluation/debugging.projects.v9.bin
Task 1/Debugging/.vs/ProjectEvaluation/debugging.strings.v9.bin
