<button mat-raised-button color="accent" (click)="openCreateForm()">
  Add Movie
</button>

<div class="movie-grid">
  <mat-card class="movie-card" *ngFor="let movie of movies()">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img
        *ngIf="movie.posterFileName"
        [src]="GetPosterUrl(movie.posterFileName)"
        width="100"
      />
      <p>{{ movie.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <div>
          <input type="file" (change)="onFileSelected($event, movie.id)" />
          <button
            mat-button
            color="primary"
            [routerLink]="['/movies', movie.id]"
          >
            Details
          </button>
          <button mat-button color="accent" (click)="editMovie(movie)">
            Edit
          </button>
          <button mat-button color="warn" (click)="deleteMovie(movie.id)">
            Delete
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
