@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center custom">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in Enumerable.Range(0,10))
    {
        <div>@item</div>
    }
</div>
